{{#each this}}
<li class="gallery__item">
    <img src="{{webformatURL}}" alt="" class="gallery__image" data-source="{{largeImageURL}}" />

    <div class="stats">
        <p class="stats-item">
            <i class="material-icons">thumb_up</i>
            <span class="stats-text">{{likes}}</span>
        </p>
        <p class="stats-item">
            <i class="material-icons">visibility</i>
            <span class="stats-text">{{views}}</span>
        </p>
        <p class="stats-item">
            <i class="material-icons">comment</i>
            <span class="stats-text">{{comments}}</span>
        </p>
        <p class="stats-item">
            <i class="material-icons">cloud_download</i>
            <span class="stats-text">{{downloads}}</span>
        </p>
    </div>
</li>
{{/each}}